<%= form_tag "/login" do %>
    <input class="form-control" type="email" name="email" placeholder="Email">
    <input class="form-control" type="password" name="password" placeholder="Password">
    <button class="btn btn-primary">Log in</button>
<% end %>
