<%= form_tag "/sign_up" do %>
  <input class="form-control" type="text" name="name" placeholder="Name">
  <input class="form-control" type="email" name="email" placeholder="Email">
  <input class="form-control" type="password" name="password" placeholder="Password">
  <button class="btn btn-primary">Sign Up</button>
<% end %>
